.header {
  overflow-x: scroll;
  background-color: blanchedalmond;
}

.header nav {
  align-items: center;
  display: flex;
}

.header a {
  padding: 20px 20px;
}

.header button {
  padding: 20px 20px;
  width: 300px;
}
